/* container do slide */
.container {
  display: flex;
  flex-direction: column;   /* imagem em cima, botão embaixo */
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 10px;
  box-sizing: border-box;
}

/* imagens */
.container img {
  width: 90%;               /* escala automaticamente com a tela */
  max-width: 400px;         /* limite máximo para desktops */
  min-width: 200px;         /* limite mínimo para smartphones muito pequenos */
  height: auto;
  display: none;
}

.container img:first-child {
  display: block;
}

/* botão */
.buttonPag {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-60px); /* sobe o botão 15px */
}

.buttonPag input {
  border: none;
  background-image: linear-gradient(to top, rgb(122, 0, 0), rgb(180, 0, 0), rgb(194, 0, 0));
  color: white;
  padding: 10px 5vw;      
  border-radius: 15px;
  cursor: pointer;
  font-family: 'Shantell Sans';
  font-size: 20px;

  font-size: clamp(14px, 2vw, 18px);
  text-align: center;
}

.buttonPag input:hover {
  background: red;
}

/* breakpoints estratégicos para ajustes finos */
@media (max-width: 1440px) {
  .container img {
    max-width: 350px;
  }
  .buttonPag {
    transform: translateY(-60px); /* sobe um pouco menos */
  }
  .buttonPag input {
    padding: 7px 2vw;
  }
}

/* tablets / telas médias */
@media (max-width: 1024px) {
  .container img {
    max-width: 350px;
  }
  .buttonPag {
    transform: translateY(-60px); /* sobe um pouco menos */
  }
  .buttonPag input {
    padding: 7px 2vw;
  }
}

/* smartphones grandes como Galaxy S23 Ultra */
@media (max-width: 768px) {
  .container img {
    max-width: 250px;
  }
  .buttonPag {
    transform: translateY(-45px);
  }
  .buttonPag input {
    padding: 7px 2vw;
  }
}

/* smartphones pequenos / <430px */
@media (max-width: 430px) {
  .container img {
    max-width: 250px;
  }
  .buttonPag {
    transform: translateY(-35px);
  }
  .buttonPag input {
    padding: 8px 7vw;
    font-size: 14px;
  }
}

@media (min-width: 1440px) and (orientation: landscape) {
  .container img {
    max-width: 350px;
  }
  .buttonPag {
    transform: translateY(-60px); /* sobe um pouco menos */
  }
  .buttonPag input {
    padding: 7px 2vw;
  }
}
